/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# About Sustainability
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.AboutSustainability {
  position: relative;
  padding-top: calc(var(--main-padding-top) * 1.5);
  padding-bottom: calc(var(--main-padding-bottom) * 1.5);
  background-color: #fefdfc;
}
.AboutSustainability .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 100%;
}

.AboutSustainability .container .left {
  position: relative;
  display: flex;
  padding: 20px;
  height: 500px;
  min-width: 400px;
  max-width: 400px;
}
.AboutSustainability .container .left::before {
  position: absolute;
  content: "";
  width: 90%;
  height: 90%;
  background-color: var(--dark-color);
  bottom: 0;
  right: 0;
  border-radius: 32px;
}
.AboutSustainability .container .left img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 32px;
}
@media (max-width: 992px) {
  .AboutSustainability .container .left {
    display: none;
  }
}
.AboutSustainability .container .right {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
@media (max-width: 992px) {
  .AboutSustainability .container .right {
    align-items: center;
    text-align: center;
    width: 100%;
  }
}

.AboutSustainability .container .right span {
  position: relative;
  font-size: 14px;
  color: var(--dark-color);
  font-weight: 400;
}
.AboutSustainability .container .right h1 {
  position: relative;
  font-size: 55px;
  color: var(--dark-color);
  margin: 0 !important;
  line-height: 50px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .AboutSustainability .container .right h1 {
    font-size: 50px;
  }
}

.AboutSustainability .container .right p {
  position: relative;
  font-size: 14px;
  color: var(--dark-color);
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}
@media (max-width: 992px) {
  .AboutSustainability .container .right p {
    text-align: center;
  }
}
