/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Certificates
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Certificates {
  position: relative;
  padding-top: calc(var(--main-padding-top));
  padding-bottom: calc(var(--main-padding-bottom) * 1.5);
  background-color: #fefdfc;
}
.Certificates .container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}
.Certificates .container .CertificatesLogo {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}
.Certificates .container .CertificatesLogo img {
  height: auto;
}
.Certificates .container .CertificatesLogo h1 {
  position: relative;
  font-size: 30px;
  font-weight: 500;
  color: var(--dark-color);
}
.Certificates .container > p {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #656460;
}

.Certificates .container .Certificates-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  width: 100%;
  filter: grayscale(100%) opacity(0.7);
}
.Certificates .container .Certificates-container img {
  position: relative;
  height: auto;
}
