/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# TimeLine 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.timeline {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: #fefdfc;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content::before {
  position: absolute;
  content: "";
  background-color: #130f28;
  height: calc(100% - 300px);
  width: 1px;
  left: 50%;
  top: 22px;
  margin-left: -1px;
}
.timeline .timeline-content .year {
  width: 100%;
  padding: 5px 7px;
  color: #000;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 30px;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
  position: relative;
  width: calc(50% - 25px);
}

.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .left {
  float: left;
}

.timeline .timeline-content .content {
  position: relative;
  padding: 20px 100px 20px 0;
  transition: var(--main-transition);
  border-radius: 10px;
}
.timeline .timeline-content .right .content {
  position: relative;
  padding: 20px 100px 20px 120px;
}
.timeline .timeline-content .left .content {
  position: relative;
  padding: 20px 170px 20px 10px;
}

.timeline .timeline-content .content p {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #000;
}

.clearfix {
  clear: both;
}

.timeline .timeline-content .right .year {
  position: relative;
  padding-left: 120px;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}
.timeline .timeline-content .right .year::before {
  position: absolute;
  content: "";
  width: 130px;
  height: 1px;
  left: -25px;
  top: 50%;
  background-color: #130f28;
}
.timeline .timeline-content .right .year::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #4e8d40;
}
.timeline .timeline-content .left .year {
  position: relative;
  padding-right: 120px;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}
.timeline .timeline-content .left .year::before {
  position: absolute;
  content: "";
  width: calc(100% - 80px);
  height: 1px;
  right: -25px;
  top: 50%;
  background-color: #130f28;
}
.timeline .timeline-content .left .year::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #4e8d40;
}

.timeline .timeline-content .timeimg-container {
  position: relative;
  height: 300px;
}

.timeline .timeline-content .timeimg-container img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.timeline .timeline-content .timeimg-container .OverLay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 75px;
  font-weight: 500;
  margin: 0;
  z-index: 2;
  color: #130f28;
}
@media (max-width: 992px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    width: 100%;
  }
  .timeline .timeline-content .year::before,
  .timeline .timeline-content .year::after {
    display: none;
  }
  .timeline .timeline-content .content {
    background-color: #eee;
    padding: 20px !important;
    text-align: center;
  }
  .timeline .timeline-content > :not(:last-child) {
    margin-bottom: 0px;
  }
  .timeline .timeline-content .year {
    z-index: 2;
    padding: 10px !important;
    margin-bottom: 10px;
    color: #fff !important;
    font-size: 16px !important;
    background-color: var(--main-color);
    width: fit-content;
    border-radius: 0.5em;
    margin: 20px auto;
  }
  .timeline .timeline-content::before {
    height: 100%;
  }
  .timeline .timeline-content .timeimg-container {
    display: none;
  }
}
