/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Our Vision
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.OurVision {
  position: relative;
  padding-top: calc(var(--main-padding-top) * 1.5);
  padding-bottom: calc(var(--main-padding-bottom) * 1.5);
  background-color: #fefdfc;
}
.OurVision .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 100px;
  height: 100%;
}

.OurVision .container .left {
  position: relative;
  display: flex;
  padding: 20px;
  min-height: 500px;
  min-width: 400px;
  max-width: 400px;
  height: 100%;
}
.OurVision .container .left::before {
  position: absolute;
  content: "";
  width: 90%;
  height: 90%;
  background-color: var(--dark-color);
  bottom: 0;
  right: 0;
  border-radius: 32px;
}
.OurVision .container .left img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 32px;
}
@media (max-width: 992px) {
  .OurVision .container .left {
    display: none;
  }
}
.OurVision .container .right {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}
@media (max-width: 992px) {
  .OurVision .container .right {
    align-items: center;
    text-align: center;
    width: 100%;
  }
}

.OurVision .container .right span {
  position: relative;
  font-size: 14px;
  color: var(--dark-color);
  font-weight: 400;
}
.OurVision .container .right h1 {
  position: relative;
  font-size: 55px;
  color: var(--dark-color);
  margin: 0 !important;
  line-height: 50px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .OurVision .container .right h1 {
    font-size: 50px;
  }
}

.OurVision .container .right p {
  position: relative;
  font-size: 14px;
  color: var(--dark-color);
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}
@media (max-width: 992px) {
  .OurVision .container .right p {
    text-align: center;
  }
}
.OurVision .container .right a {
  position: relative;
  background-color: var(--main-color);
  padding: 10px 20px;
  width: fit-content;
  min-width: 150px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: var(--main-transition);
  font-weight: 400;
  font-size: 14px;
}
.OurVision .container .right a:hover {
  background-color: var(--dark-color);
}
