/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Beyond Egypt Exports 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Beyond_EgyptExports {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: #fefdfc;
}
.Beyond_EgyptExports .container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.Beyond_EgyptExports .container .info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
}
.Beyond_EgyptExports .container .info p {
  position: relative;
  color: #656460;
  font-size: 13px;
  font-weight: 300;
}
.Beyond_EgyptExports .container .info h4 {
  position: relative;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
}
.Beyond_EgyptExports .container .Exports-country {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}
.Beyond_EgyptExports .container .Exports-country .box {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 350px;
  width: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.Beyond_EgyptExports .container .Exports-country .box .information {
  position: relative;
  width: 45%;
  background-color: #fefdfc;
  border: 1px solid #f0eee5;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Beyond_EgyptExports .container .Exports-country .box .information .headInfo {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.Beyond_EgyptExports .container .Exports-country .information .headInfo h5 {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}
.Beyond_EgyptExports .container .Exports-country .box .information P {
  position: relative;
  font-size: 12px;
  line-height: 1.3;
  text-align: left;
  color: #656460;
  font-weight: 300;
}
